---
import Layout from '@layouts/Layout.astro';
 
---

<Layout>
	<main class="main">
	 
		<section class="section ">
			  <h1>No se encontro la pagina</h1>
		</section>
	</main>
</Layout>

<style>
	 
</style>
