---
const { item  } = Astro.props;
const title = item.title || "";
const link = item.link || "";
---


<div class="button-type-2">
  <div class="button-card">
    <figure class="button-image">
      <a href={link} target="_blank">
        <img src="https://placeholder.com/720x300" alt="Placeholder Image" class="img-fluid rounded">
       </a>
    </figure>
    <a href={link}  target="_blank" class="button-text">{title}</a>
    <button class="button-dots" @click="open = true">
      <iconify-icon icon="mage:dots"></iconify-icon>
    </button>
  </div>
</div>

<style is:global>
  .button-type-2 {
    width: 100%;
    margin: 1rem 0;
    position: relative;
  }

  .button-type-2 .button-card {
    position: relative;
    width: 100%;
    height: 260px; /* Ajusta la altura según necesites */
    overflow: hidden;
   
  }
  .button-type-2 .button-image {
    margin: 0px;
    padding: 0;
  }
  .button-type-2 .button-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }

  .button-type-2 .button-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    color: #fff;
    font-size: var(--fs-5);
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    text-decoration: none;
    z-index: 2;
  }

  .button-type-2 .button-dots {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: var(--fs-3);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    z-index: 2;
  }

  .button-type-2 .button-dots:hover {
    color: #ccc;
  }
</style>